#map-feature { position: relative; }
#map-feature #map-canvas {
    width: 100%;
    height: 640px;
}
#map-feature #info-canvas-intro {
    display: none;
    width: 450px;
	background: url("https://www.northwestern.edu/newscenter/archives/special/fulbright-2015/images/Cover1.jpg");
}
#map-feature #info-canvas {
	width: 442.5px;
	height: 640px;
	background: #dd6057;
	font: 18px "Akkurat Pro Regular", Arial, sans-serif;
	opacity: 1;
	position: absolute;
	top: 0;
	color: #ffffff;
}
#map-feature #info-canvas p {
	line-height: 1.3em;
	margin-top: 0;
}
#map-feature #info-canvas h2 {
	font: 36px/1.1em "Campton Bold", Impact, sans-serif;
	margin-bottom: 0.2rem;
	color: #ffffff;
}
#map-feature #info-canvas h2 + p {
	font-size: 20px;
}
#map-feature #info-canvas h3 {
	font: 28px "Campton Book", "Courier New", sans-serif;
	margin-bottom: 0;
	color: #ffffff;
}
#map-feature #info-canvas p + h3, #map-feature #info-canvas ul + h3{
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}
#map-feature #info-canvas h3 + ul { margin-top: 0; padding-left: 1rem; }
#map-feature #info-canvas ul li { margin-bottom: 0.3rem; font-size: 16px; line-height: 1.2rem; }
#map-feature #info-canvas ul li a { color: inherit; }
#map-feature #info-canvas #info-content {
	padding: 3rem 3rem 0 3rem;
	position: absolute;
	bottom: 3rem;
}
#fulbright-intro {
	font-size: 16px;
	line-height: 27px;
	margin: 2rem auto 0;
	max-width: 1012px;
}
#nav-arrows {
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 1rem;
}
.nav-button {
	width: 19px;
	height: 33px;
	background-color: transparent;
	margin: 0 0.75rem;
    cursor: pointer;
}
#nav-button-prev {
	background-image: url("../left_arrow.svg");
}
#nav-button-next {
	background-image: url("../right_arrow.svg");
	float: right;
}
#map-feature #info-canvas .info-intro {
	font-size: 23px;
	margin-top: 1rem;
}
.content-full table ul {
    margin-top: 0;
    padding-top: 0;
    list-style-type: none;
    padding-left: 0;
}
.content-full ul > li {
    background: none;
    padding-left: 0;
}
#category-select {
    margin-bottom: 1rem;
    clear: both;
    content: "";
    display: table;
    width: 100%;
}
#category-select div {
    float: left;
    margin-right: 1.78571%;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 30%;
}
#category-select div:last-child {
    margin-right: 0;
}
#category-select div label {
    display: block;
    font: 16px "Akkurat Pro Regular",Arial,sans-serif;
    padding: 0;
}
#category-select div select {
    margin-top: 0.5rem;
    padding: 0.3em 1.5em 0.2em 0.5em;
}
#category-select select {
    font: 18px/1.5em "Akkurat Pro Bold","Arial Black",sans-serif;
    color: #716c6b;
    background-color: #fff;
	border: 1px solid #ccc;
	display:inline-block;
	margin: 0;
	padding:0.3em 1.5em 0.3em 0.5em;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: #fff url("../brown_dropdown_arrow_bigger.svg") no-repeat top 50% right 0.5rem/17px 10px;
	width: 100%;
}
#category-select select::-ms-expand {
    display:none
}
#category-select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
#category-select select option {
    font-family: "Akkurat Pro Regular",Arial,sans-serif;
}
#filter-reset {
    clear: both;
}
@media screen and (max-width: 980px) {
    #map-feature #info-canvas {
        width: 45%;
    }
    #map-feature #info-canvas h2 {
        font-size: 30px;
    }
	#nav-arrows {
		margin: -25px 0 10px;
	}
	#info-content {
		margin-top: 1rem;
	}
}
@media screen and (max-width: 830px) {
    #map-feature #map-canvas {
		height: 400px;
	}
	#map-feature #info-canvas {
		height: auto;
		width: 100%;
		position: relative;
	}
	#nav-arrows {
		width: 100%;
		top: 1rem;
		margin-top: 0;
		bottom: initial;
	}
	.info-intro {
		margin-right: 0;
	}
	#map-feature #info-canvas #info-content {
		top: 0;
		padding: 1rem 0;
		position: relative;
		bottom: initial;
		margin: 0 3rem 0 3rem;
		display: block;
	}
}
@media screen and (max-width: 600px) {
    #map-feature #info-canvas h2 {
        font-size: 28px;
    }
    #map-feature #info-canvas h3 {
    	font-size: 25px;
    }
}
@media screen and (max-width: 500px) {
    #category-select div label {
        height: 2.4rem;
    }
}


